.App {
  text-align: center;
}

html, body {
  top: 0;
  margin: 0;
  width: auto;
  display: flex;
  min-height: 95vh;
  font-family: 'Fira Code', monospace;
  flex-direction: column;
}
.link {
  text-decoration: none;
  font-weight: bold;
  color: #FF5252;
}

/* FRAME STARTS */
.array {
  padding: 1rem;
  display: flex;
  min-height: 80vh;
  align-items: flex-end;
}
.cell {
  flex: 0.5;
  margin: 1px;
  display: flex;
  resize: horizontal;
  position: relative;
  align-items: flex-start;
  background-color: grey;
  transition: all .4s ease-in;
}
.cell.done {
  background-color: #9CEC5B;
  border-color: #9CEC5B;
  transition: all .4s ease-out;
}
.cell.current {
  border-color: green;
  background-color: green;
  transition: all .4s ease-out;
}
/* FRAME ENDS */

/* NAVBAR STARTS */
.navbar {
  overflow: hidden;
  font-size: 16px;
  min-height: 60px;
  text-align: center;
  background-color: #3a3222;
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.navbar .options {
  margin: 10px;
  text-align: center;
}
.navbar a {
  outline: none;
  cursor: pointer;
  color: #ccd6f6;
  padding: 13px 13px;
  text-decoration: none;
}
.navbar > a:hover {
  color: #64ffda;
}
.navbar #menu {
  margin-top: 15px;
  width: 150px;
  height: 25px;
  outline: none;
}
.navbar > .icon {
  display: none;
}
#start {
  margin: 10px;
}
#random {
  margin-top: 5px;
}
select {
  display: inline-block;
  height: 35px !important;
  border-radius: 10px;
  background-color: #222;
  color: white;
}
button {
  height: 35px !important;
  width: 100px;
  padding: 7px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #222;
  transition: 0.2s ease-in;
  border-radius: 10px;
  border: 1px solid grey;
}
button:hover {
  color: #222;
  background-color: #94e9e9 ;
  border: 1px solid #94e9e9;
}
/* NAVBAR ENDS */

